@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  margin: 0 !important;
  padding: 0 !important;
}



body {
margin: 0 !important;
padding: 0 !important;
background-image: url("../../public/8225418.jpg");
background-position: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
